<footer class="store-footer">
  <div class="footer-grid">
    <div>
      <a class="brand" href="/">Bar<span>Bae</span></a>
      <p>Beauty, Styles & Intimates - für die Frau, die weiß, was sie will.</p>
    </div>
    <div>
      <h4>Shop</h4>
      <a href="/beauty">Beauty</a>
      <a href="/styles">Styles & Intimates</a>
    </div>
    <div>
      <h4>Info</h4>
      <a href="#">Über uns</a>
      <a href="#">Kontakt</a>
      <a href="#">Versand & Rückgabe</a>
      <a href="#">Impressum</a>
      <a href="#">Datenschutz</a>
      <button type="button" class="footer-cookie-link" id="cookieSettingsLink">Cookie-Einstellungen</button>
    </div>
  </div>
  <div class="footer-copy">© 2026 BarBae. Alle Rechte vorbehalten.</div>
</footer>

<%- include('./cookie-consent') %>
